# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
reaper_csurf_integrator.xcodeproj/project.xcworkspace/
reaper_csurf_integrator.xcodeproj/xcuserdata/
reaper_csurf_integrator.xcodeproj/xcshareddata/xcschemes/reaper_csurf_integrator.xcscheme
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/FileContentIndex/6636ca1f-ba2d-4e4b-b22a-9042987b7fd2.vsidx
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/.suo
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/Browse.VC.db
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/ipch/AutoPCH/644411e3b4360a29/CONTROL_SURFACE_INTEGRATOR.ipch
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj.filters
reaper_csurf_integrator/res.rc_mac_dlg
reaper_csurf_integrator/res.rc_mac_menu
Windows/VS2005/reaper_csurf_integrator.ncb
Windows/VS2005/reaper_csurf_integrator.suo
Windows/VS2005/reaper_csurf_integrator.vcproj.GEOFFWADDIN1F32.geoffwaddington.user
Windows/VS2005/reaper_csurf_integrator.vcproj.user
reaper_csurf_integrator/res.aps
Windows/VS2005/x64/Release/BuildLog.htm
Windows/VS2005/x64/Release/mt.dep
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.embed.manifest
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.embed.manifest.res
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.intermediate.manifest
Windows/VS2005/x64/Release/reaper_csurf_integrator.exp
Windows/VS2005/x64/Release/reaper_csurf_integrator.pdb
Windows/VS2005/x64/Release/res.res
Windows/VS2005/x64/Release/vc80.idb
Windows/VS2005/x64/Release/vc80.pdb
Windows/VS2005/.vs/reaper_csurf_integrator/FileContentIndex/3f54d549-5ea0-4fcc-b8d3-27012481c204.vsidx
Windows/VS2005/.vs/reaper_csurf_integrator/v17/.suo
Windows/VS2005/.vs/reaper_csurf_integrator/v17/Browse.VC.db
Windows/VS2005/reaper_csurf_integrator.vcxproj.filters
Windows/VS2005/reaper_csurf_integrator.vcxproj.user
Windows/VS2005/UpgradeLog.htm
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/CL.command.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/Cl.items.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/CL.read.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/CL.write.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.command.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.read.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.write.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.write.2u.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/rc.command.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/rc.read.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/rc.write.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/reaper_csurf_integrator.lastbuildstate
Windows/VS2005/x64/Release/reaper_csurf_integrator.Build.CppClean.log
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.recipe
Windows/VS2005/x64/Release/reaper_csurf_integrator.log
Windows/VS2005/x64/Release/reaper_csurf_integrator.vcxproj.FileListAbsolute.txt
Windows/VS2005/x64/Release/vc143.pdb
