# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
reaper_csurf_integrator.xcodeproj/project.xcworkspace/
reaper_csurf_integrator.xcodeproj/xcuserdata/
reaper_csurf_integrator.xcodeproj/xcshareddata/xcschemes/reaper_csurf_integrator.xcscheme
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/FileContentIndex/6636ca1f-ba2d-4e4b-b22a-9042987b7fd2.vsidx
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/.suo
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/Browse.VC.db
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/ipch/AutoPCH/644411e3b4360a29/CONTROL_SURFACE_INTEGRATOR.ipch
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj.filters
