# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
reaper_csurf_integrator.xcodeproj/project.xcworkspace/xcuserdata/geoffwaddington.xcuserdatad/UserInterfaceState.xcuserstate
reaper_csurf_integrator.xcodeproj/xcuserdata/geoffwaddington.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
